<nav class="navbar navbar-light" style="background-color: blue;">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <p class="h4">Add Caregivers</p>
      <form style="margin-top: 20px;">
        <!--Personal info-->
        <p class="h6">Personal Information</p>
        <div class="row form-row">
          <div class="col">
            <label for="fname">First Name*</label>
            <input type="text" class="form-control form-control-sm" id="fname">
          </div>
          <div class="col">
            <label for="lname">Last Name*</label>
            <input type="text" class="form-control form-control-sm" id="lname">
          </div>
        </div>
        <div class="row form-row">
          <div class="col">
            <label for="gender">Gender*</label>
            <select class="form-control form-control-sm" id="gender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
          <div class="col">
            <label for="dob">Dob*</label>
            <input type="date" class="form-control form-control-sm" id="dob">
          </div>
        </div>
        <div class="row form-row">
          <div class="col">
            <label for="email">Email address*</label>
            <input type="email" class="form-control form-control-sm" id="email">
          </div>
          <div class="col">
            <label for="mobile">Mobile number</label>
            <input type="text" class="form-control form-control-sm" id="mobile">
          </div>
        </div>
        <!--Professional info-->
        <p class="h6">Professional Information</p>
        <div class="row form-row">
          <div class="col">
            <label for="clinical-role">Clinical role*</label>
            <select class="form-control form-control-sm" id="clinical-role">
              <option>Role1</option>
              <option>Role2</option>
            </select>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row form-row">
          <div class="col">
            <label for="profession">Profession*</label>
            <input type="text" class="form-control form-control-sm" id="profession">
          </div>
          <div class="col">
            <label for="qualification">Qualification*</label>
            <input type="text" class="form-control form-control-sm" id="qualification">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>